.image-showcase-zoom {
  width: 100%;
}
.image-showcase-zoom__text {
  font-size: em(15);
  padding: 15px 0;
  text-align: center;
  color: #999999;
  width: 60%;
}
.image-showcase-zoom__slider {
  z-index: 99;
  position: relative;
  width: 60%;
}

.image-showcase-zoom__slider .slick-list {
  width: 80.8%;
  margin: 0 auto;
}
.image-showcase-zoom__slider .item img {
  cursor: pointer;
  border: solid 1px #d6d6d6;
  margin: 0 auto;
}
.image-showcase-zoom__slider .slick-prev,
.image-showcase-zoom__slider .slick-next {
  width: 20px;
  height: 30px;
  border: none;
  text-indent: -9999px;
  position: absolute;
  top: 35%;
  padding: 0;
  outline: none !important;
}
.image-showcase-zoom__slider .slick-prev {
  background: url(../images/slider-next.png) no-repeat;
  right: 5px;
}
.image-showcase-zoom__slider .slick-next {
  background: url(../images/slider-prev.png) no-repeat;
  left: 23px;
  padding: 0;
}
.slick-current {
  outline: none;
}

#preload {
  display: none !important;
}
