#unique-id-hidden {
  display: none !important;
}
.image-showcase-zoom {
  width: 100%;
}
.image-showcase-zoom__text {
  font-size: em(15);
  padding: 15px 0;
  text-align: center;
  color: #999999;
  width: 60%;
}
.image-showcase-zoom__slider {
  z-index: 99;
  position: relative;
  width: 60%;
}
.image-showcase-zoom__slider .slick-list {
  width: 80.8%;
  margin: 0 auto;
}
.image-showcase-zoom__slider .item img {
  cursor: pointer;
  border: solid 1px #d6d6d6;
  margin: 0 auto;
}
.image-showcase-zoom__slider .slick-prev,
.image-showcase-zoom__slider .slick-next {
  border: medium none;
  height: 30px;
  margin-top: -7.5px;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 20px;
  outline: none;
}
.image-showcase-zoom__slider .slick-prev {
  background: url(../images/slider-prev.png) no-repeat;
  left: 5px;
}
.image-showcase-zoom__slider .slick-next {
  background: url(../images/slider-next.png) no-repeat;
  right: -5px;
  padding: 0;
}
button {
  cursor: pointer;
}
.image-showcase-zoom__sliderlg .item {
  position: relative;
}
.zoomWindowContainer .zoomWindow {
  min-width: 305px !important;
  min-height: 500px !important;
}
.zoomLens {
  min-width: 175px;
  min-height: 300px;
}
.slick-current {
  outline: none;
}
button::-moz-focus-inner {
  border: 0px solid transparent;
}
.image-showcase-zoom .slick-slide {
  outline: none;
}
#preload {
  display: none !important;
}
